@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&family=Noto+Sans+Mono:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
/*---break---*/
@plugin 'tailwindcss-animate';
/*---break---*/
@custom-variant dark (&:is(.dark *));

@theme {
  --font-head: 'Noto Sans', sans-serif;
  --font-body: 'Montserrat', sans-serif;
  --font-mono: 'Noto Sans Mono', monospace;

  --color-neutral-000: hsl(210, 0%, 98%);
  --color-neutral-100: hsl(210, 0%, 88%);
  --color-neutral-200: hsl(210, 0%, 78%);
  --color-neutral-300: hsl(210, 0%, 68%);
  --color-neutral-400: hsl(210, 0%, 58%);
  --color-neutral-500: hsl(210, 0%, 48%);
  --color-neutral-600: hsl(210, 0%, 38%);
  --color-neutral-700: hsl(210, 0%, 28%);
  --color-neutral-800: hsl(210, 0%, 18%);
  --color-neutral-900: hsl(210, 0%, 10%);

  --color-augmented-000: hsl(210, 12%, 98%);
  --color-augmented-100: hsl(210, 12%, 88%);
  --color-augmented-200: hsl(210, 12%, 78%);
  --color-augmented-300: hsl(210, 15%, 68%);
  --color-augmented-400: hsl(210, 15%, 58%);
  --color-augmented-500: hsl(210, 15%, 48%);
  --color-augmented-600: hsl(210, 15%, 38%);
  --color-augmented-700: hsl(210, 20%, 28%);
  --color-augmented-800: hsl(210, 25%, 18%);
  --color-augmented-900: hsl(210, 30%, 10%);

  --color-semantic-a-400: hsl(0, 96%, 33%);
  --color-semantic-a-300: hsl(0, 96%, 38%);
  --color-semantic-a-200: hsl(0, 96%, 43%);
  --color-semantic-a-100: hsl(0, 96%, 48%);

  --color-semantic-i-400: hsl(215, 96%, 33%);
  --color-semantic-i-300: hsl(215, 96%, 38%);
  --color-semantic-i-200: hsl(215, 96%, 43%);
  --color-semantic-i-100: hsl(215, 96%, 48%);

  --color-semantic-s-400: hsl(100, 96%, 33%);
  --color-semantic-s-300: hsl(100, 96%, 38%);
  --color-semantic-s-200: hsl(100, 96%, 43%);
  --color-semantic-s-100: hsl(100, 96%, 48%);

  --color-semantic-w-400: hsl(48, 96%, 50%);
  --color-semantic-w-300: hsl(48, 96%, 55%);
  --color-semantic-w-200: hsl(48, 96%, 60%);
  --color-semantic-w-100: hsl(48, 96%, 65%);

  --ease-basic-01: cubic-bezier(0.26, 0.1, 0.27, 1.55);
  --ease-basic-02: cubic-bezier(0.17, 0.67, 0.83, 0.67);
  --ease: cubic-bezier(0.19, 0.08, 0.46, 0.99);
  --ease-fluid: cubic-bezier(0.3, 0, 0, 1);
  --ease-in: cubic-bezier(0.33, 0.02, 0.84, 0.75);
  --ease-out: cubic-bezier(0.05, 0.21, 0.66, 0.98);
  --ease-in-out: cubic-bezier(0.38, 0, 0.57, 0.99);
  --ease-linear: cubic-bezier(0.19, 0.08, 0.84, 0.75);
  --ease-smooth: cubic-bezier(0.1, 0.7, 0.6, 0.9);
  --ease-snappy: cubic-bezier(0.2, 0, 0, 1);
  --ease-snappy-01: cubic-bezier(0.5, 0, 0.4, 0.98);
  --ease-snappy-02: cubic-bezier(.17, .67, .83, .67);

  --radius-000: 1px;
  --radius-100: 2px;
  --radius-200: 3px;
  --radius-300: 5px;
  --radius-400: 8px;
  --radius-500: 13px;
  --radius-600: 21px;
  --radius-700: 34px;
  --radius-800: 55px;
  --radius-900: 50%;

  /*--animate-move-in-from-right: move-in-from-right 1s cubic-bezier(0.19, 0.08, 0.46, 0.99) 1;
  --animate-exit-to-left: exit-to-left 1s cubic-bezier(0.19, 0.08, 0.46, 0.99) 1 forwards;*/

  --breakpoint-3xl: 1920px;

}

/*---break---*/
/*
:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.129 0.042 264.695);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.129 0.042 264.695);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.129 0.042 264.695);
  --primary: oklch(0.208 0.042 265.755);
  --primary-foreground: oklch(0.984 0.003 247.858);
  --secondary: oklch(0.968 0.007 247.896);
  --secondary-foreground: oklch(0.208 0.042 265.755);
  --muted: oklch(0.968 0.007 247.896);
  --muted-foreground: oklch(0.554 0.046 257.417);
  --accent: oklch(0.968 0.007 247.896);
  --accent-foreground: oklch(0.208 0.042 265.755);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.577 0.245 27.325);
  --border: oklch(0.929 0.013 255.508);
  --input: oklch(0.929 0.013 255.508);
  --ring: oklch(0.869 0.022 252.894);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --radius: 0.625rem;;
  --sidebar: oklch(0.984 0.003 247.858);
  --sidebar-foreground: oklch(0.129 0.042 264.695);
  --sidebar-primary: oklch(0.208 0.042 265.755);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.968 0.007 247.896);
  --sidebar-accent-foreground: oklch(0.208 0.042 265.755);
  --sidebar-border: oklch(0.929 0.013 255.508);
  --sidebar-ring: oklch(0.869 0.022 252.894);
}*/

/*---break---*/
.dark {
  --background: oklch(0.129 0.042 264.695);
  --foreground: oklch(0.984 0.003 247.858);
  --card: oklch(0.129 0.042 264.695);
  --card-foreground: oklch(0.984 0.003 247.858);
  --popover: oklch(0.129 0.042 264.695);
  --popover-foreground: oklch(0.984 0.003 247.858);
  --primary: oklch(0.984 0.003 247.858);
  --primary-foreground: oklch(0.208 0.042 265.755);
  --secondary: oklch(0.279 0.041 260.031);
  --secondary-foreground: oklch(0.984 0.003 247.858);
  --muted: oklch(0.279 0.041 260.031);
  --muted-foreground: oklch(0.704 0.04 256.788);
  --accent: oklch(0.279 0.041 260.031);
  --accent-foreground: oklch(0.984 0.003 247.858);
  --destructive: oklch(0.396 0.141 25.723);
  --destructive-foreground: oklch(0.637 0.237 25.331);
  --border: oklch(0.279 0.041 260.031);
  --input: oklch(0.279 0.041 260.031);
  --ring: oklch(0.446 0.043 257.281);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.208 0.042 265.755);
  --sidebar-foreground: oklch(0.984 0.003 247.858);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.279 0.041 260.031);
  --sidebar-accent-foreground: oklch(0.984 0.003 247.858);
  --sidebar-border: oklch(0.279 0.041 260.031);
  --sidebar-ring: oklch(0.446 0.043 257.281);
}

/*---break---*/

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

/*---break---*/

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.scrollbar-hidden::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.scrollbar-hidden {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.bg-login {
  background-color: #0f172a;
}

/*.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}*/

.EmojiPickerReact {
  --epr-bg-color: #2a2b33 !important;
  --epr-category-label-bg-color: #2a2b33 !important;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

/*---break---*/

@layer base {
  * {
    @apply border-border outline-ring/50;

  }
  body {
    @apply bg-background text-foreground;

  }

}